:root{
    --teamlist-border: 1px solid gainsboro;
    --border-btn-radius: 5px;
    --btn-color: rgba(255, 95, 47, 0.906);
    --modal-bg-color: rgba(0, 0, 0, 0.4);
    --basic-white-color:white;
    --basic-border-radius:5px;
}


/* ================================================ */
/* 메인 섹션(조원 작업존) */
.common_section{
    width: 100%;
    /* height: 150vh; */
    background-color: white;
    min-width: 1280px;
    /* border: 3px solid red; */
    position: relative;
    display: flex;
    justify-content: center;
}

/* 왼쪽 사이드 */
.sideLeft{
    background-color: white;
    border: solid 2px var(--ex-border-color);
    border: solid 2px #ccc;
    height: 30vh;
    width: 15%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 3px 0px;
    margin-right: 10px;
}

/* 메인섹션 */
.main{
    background-color: white;
    border: solid 2px #ccc;
    border-radius: 10px;
    height: 105vh;
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 3px 0px;
}

a {
    text-decoration: none;
    color: black;
}
.admin_Boardbtn > a {
    color: white;
}


/* 관리자페이지 왼쪽 카테고리 */
.adminList {
    width: 100%;
    height: 100%;
    text-align: center;
    /* border: 2px solid blue; */
}

.adminList > li {
    height: 4vh;
    line-height: 4vh;
    list-style: none;
    margin-top: 3vh;
    border-radius: 5px;
    /* border: 1px solid blue; */
}

.adminList > li > a {
    height: 4vh;
    text-decoration: none;
    color: black;
    /* border: 1px solid rgb(210, 85, 18); */
}

/* 상단 관리자페이지 카테고리 타이틀영역 */
.adminTitle {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vh;
    padding-left: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 3px 0px;
}
/* 관리자페이지 상단 오른쪽 삭제버튼 */
.removeBtn {
    height: 25px;
    border: none;
    margin-right: 15px;
    border-radius: 5px;
    background: var(--btn-color);
    color: white;
    cursor: pointer;
}
/* 관리자페이지 상단 오른쪽 등록버튼 */
.setBtn {
    height: 25px;
    border: none;
    margin-right: 15px;
    border-radius: 5px;
    background: var(--btn-color);
    color: white;
    cursor: pointer;
}

/* 관리자페이지 각 카테고리별 테이블영역 */
.adminT {
    height: 55vh;
    padding: 15px;
    /* border: solid 3px rgb(77, 241, 44); */
    
}
/* 관리자페이지 각 카테고리별 세부사항 수치표시버튼 */
.adminCbtn, .admin_Membtn, .admin_Boardbtn, 
.admin_RepBtn, .admin_AskBtn {
    width: 105px;
    height: 35px;
    border: none;
    margin-left: 8px;
    margin-right: 10px;
    border-radius: 5px;
    background: var(--btn-color);
    color: white;
    cursor: pointer;
}
.Figure, .Rep_Figure, .Ask_Figure {
    width: 50px;
    height: 35px;
    border: none;
    border-radius: 5px;
    margin-left: -10px;
    background: rgb(225, 222, 222);
}
.admin_Boardbtn > a {
    text-decoration: none;
}
.admin_BoardbtnClick {
	width: 50px;
    height: 35px;
    border: none;
    margin-left: -15px;
    border-radius: 5px;
    background: var(--btn-color);
    color: white;
    cursor: pointer;
}
.userBoardCount {
	margin : 10px;
}
.Boardbtn_Slt {
    width: 82px;
    height: 36px;
    border: none;
    margin-left: -15px;
    margin-right: 15px;
    border-radius: 5px;
    background: rgb(238, 236, 236);
    cursor: pointer;
}

/* 카테고리별 정보 관리영역 */
.admin_Customer {
   width: 100%;
   text-align: center;
   border-collapse: collapse;
   border-color: #ccc;
   
}
.adminBoard {
	width : 5%;
	height : 40px;
}
.adminBoard_Sel {
	width : 7%;
	height : 50px;
}
.adminBoard_Title {
	width : 30%;
	height : 50px;
}
.adminBoard_Add {
	width : 10%;
	height : 40px;
}
.adminBoard_Date {
	width : 20%;
	height : 40px;
}
.admin_Customer > adminBoard_Title {
	white-space:nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}
.admin_Customer > adminBoard_Title > a {
	display : block;
	white-space:nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}

.admin_CustomerList:nth-child(1) {
	height : 40px;
}
.admin_Bdlist:nth-child(1) {
	width : 10%;
	height : 40px;
}

/* 회원정보 페이징 영역 */
.admin_Paging {
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
    /* border: 2px solid blue; */
}
.admin_Paging > a {
    width: 35px;
    height: 35px;
    display: block;
    margin-right: 10px;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    font-size: 13px;
    color: black;
    border: 1px solid grey;
}

/* ========== 공지사항보기 ========== */

.Notice_modal {
    background-color: var(--modal-bg-color);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    display: none;
}
#Notice_xicon{
    font-size: 1.5rem;
    border-radius: var(--basic-border-radius);
    /* box-shadow: 1px 1px 3px 1px var(--basic-gray-color); */
    background-color: var(--basic-white-color);
    position: relative;
    top: -25px;
    left: 100%;
    cursor: pointer;
    /* animation-name: opacity;
    animation-duration: 1s; */
    display: none;
}
.Notice_modal2 {
    width: 550px;
    height: 530px;
    background-color: var(--basic-white-color);
    border: 1px solid var(--border-color);
    padding: 30px;

    /* animation-name: opacity;
    animation-duration: 1s; */
}
.noticeTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}
.noticeTitle p {
    font-weight: bold;
    font-size: 1.7rem;
    /* border: 1px solid black; */
}
.noticeCont {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    margin-top: 10px;
}
.noticeCont p {
    height: 330px;
    font-size: 1.1rem;
    font-weight: lighter;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
}
.close_btn button{
    width: 100%;
    background: linear-gradient(to left, rgb(255, 77, 46), rgb(255, 155, 47));
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    padding: 15px 0;
    font-size: 18px;
    cursor: pointer;
}
.close_btn {
	position: relative;
	top: 300px;
}
.noticeCk {
	cursor: pointer;
}

