*{ box-sizing: border-box;  margin: 0px; }

:root{
    --main-black-color: rgb(29,32,34); /* 메인 블랙칼라 */
    --main-white-color:rgb(247,247,247);  /* 메인 화이트칼라 */
    --main-red-color: rgb(238,43,42);  /* 메인 레드 칼라 */
    --main-text-color: rgb(247,247,247);

    --ex-border-color: crimson;  /* 보드 테스트 레드 칼라 */
}

.container{
  padding-top: 5%;

  display: flex;
  justify-content: center;
  align-items: center;
}
/* =============헤더 전체틀============ */
.common_header{
    width: 100%;
    height: 8vh; 
    min-width: 1280px;
    
    /* fixed 주석 처리하면 원래상태로 바뀜 */
    position: fixed;
    z-index: 100;
    
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 2px #ccc; */

    background-color: rgba(255, 255, 255, 1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 3px 0px;
}



/* 헤더 왼쪽 */
.common_header_left{
    width: 10%;
    height: 100%;
    /* border: 2px solid pink; */

    /* color: black; */
    /* 09.05 로고 커서:포인터 추가 -SEO */
}
.common_header_left>a>img{
    width: 80%;
    height: 100%;
    cursor: pointer;
    object-fit: contain;
}
/* 헤더 가운데 */
.common_header_center{
    width: 60%;
    height: 100%;
    /* border: 2px solid pink; */

    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* 헤더 카테고리 */
.header_menu{
    display: flex;
    align-items: center;
    line-height: 45px;
    margin: 0; padding: 0;
}
.header_menu>li{
    width: 130px;
    height: 50px;
    /* border: 2px solid pink; */


    font-size: 20px;
    list-style-type: none;
    text-align: center;
}

.header_menu>li>a{
    color:rgba(25, 25, 25, 1) ;
    text-decoration: none;
}

.header_menu>li>a:hover{
    color:  rgba(248,58,37,1);
}

/* 헤더 오른쪽 */
.common_header_right{
    /* 09-21 10%->14% 변경 HIKARI */
    width: 14%;
    height: 100%;
    /* border: 2px solid pink; */

    display: flex;
    justify-content: center;
    align-items: center;
}



/* 마이페이지, 알람기능 */

.user,.alarm{
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: nowrap;
    position: relative;
    /* border: solid 2px red;   */

}

.user>div,.alarm>div{
    width: 4.5vh;
    height: 4.5vh;
  
    border: solid 2px red;  
    border-radius: 50%;
   
    position: absolute;
    /* 09.05 로고 커서:포인터 추가 -SEO */
    cursor: pointer;
    
}
/* 헤더 유저 드롭다운 */
/* 0905 커서포인터 추가 SEO */
.user>ul{   
    border: solid 2px #ccc;
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
    margin: 0; padding: 0;

    width: 200px;
    height: 300px;

    position: absolute;
    z-index: 100;
    top: 75px;
    right: -98px;
    cursor: pointer;

    display: none;
}
/* 호버시 백그라운드 컬러 변경 SEO*/
.user>ul>li:hover{
    background-color: rgb(242, 242, 242);
    /* color: var(--main-red-color); */
}   

.user>ul>li,.alarm>ul>li{   
    /* border: solid 2px red;   */

    width: 100%;
    /* height 치우고 자동으로 높이 맞추는게 깔끔해서 일단 주석처리 했슴다 -SEO */
    /* height: 20%; */

    list-style-type: none;
    line-height: 40px;
    padding-left: 10px;   
}

.user>ul>li>a{
    color: black;
    text-decoration-line: none;
}



/* 헤더 알람 드롭다운 */
/* 0905 커서포인터 추가 SEO */
.alarm>ul{   
    border: solid 2px #ccc;
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
    margin: 0; padding: 0;
    
    width: 400px;
    height: 300px;
    
    position: absolute;
    z-index: 100;
    top: 75px;
    right: 0px;
    
    display: none;
    overflow-y: scroll;
    cursor: pointer;
}

.alarm>ul>li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.alarm>ul>li>span:nth-child(1){
    /* border: 1px solid blue; */
    width: 250px;
    height: 30px;
    font-size: 15px;
    /* text-align: center; */
    overflow: hidden;
    
    line-height: 30px;
}
.alarm>ul>li>span:nth-child(2){
    border: 1px solid #ccc;
    background-color: pink;
    border-radius: 5px;
    width: 50px;
    height: 30px;   
    
    font-size: 10px;
    text-align: center;

    padding: 0;
    line-height: 30px;
}

/* 호버시 백그라운드 컬러 변경 SEO*/
.alarm>ul>:hover {
    background-color: rgb(242, 242, 242);
}

/* 비로그인시 css 효과 적용틀 09-21 HIKARI*/
.mainToLogin,.mainToJoin{
    width: 50%;
    height: 100%;
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 3px 0px;
    background-color: rgb(238,43,42);
    border-radius: 10px;
    /* padding: 0 5px; */
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

.mainToJoin{
     margin-left: 5%;
}

.mainToLogin>a,.mainToJoin>a{
    text-decoration-line: none;
    color: rgb(29,32,34);
}


/* ================================================ */

/* 메인 섹션(조원 작업존) */
.common_section{
    width: 100%;
    /* height: 150vh; */
    background-color: white;
    min-width: 1280px;

    /* border: 3px solid red; */
    

    position: relative;
    display: flex;
    justify-content: center;
}

/* 메인섹션 */
.main{
    background-color: white;
    border: solid 2px var(--ex-border-color);
    
    height: 100%; 
    width: 70%;
}

/* 오른쪽 사이드 */
.sideRight{
    background-color: white;
    border: solid 2px var(--ex-border-color);
    /* height: 150vh; */
    width: 15%;
}

/* ====================푸터=================== */
/* SEO 푸터작업함 아직 안끝남 조졌음*/
.common_footer{
    width: 100vw;
    height: 20vh;
    min-width: 1280px;
    border: solid 2px #ccc;
    background-color: white;
    display: grid;
    grid-template-areas: 
    "foter footer footer";

    /* HIKARI 메인섹션이랑 띄어놓음 */
    margin-top: 3%;
}
.common_footer :nth-child(1){
    background-color: lightblue;
    width: 15vw;
    height: 20vh;
    grid-area: foter;
}
.common_footer :nth-child(2){
    background-color: lightcoral;
    width: 70vw;
    height: 20vh;
    grid-area: footer;
}
.common_footer :nth-child(3){
    background-color: lightgreen;
    width: 15vw;
    height: 20vh;
    grid-area: footer;
}


