* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*========== 로그인 페이지 전체 컨테이너 ==========*/
.login_Container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 3px solid black; */
}
.loginDiv {
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 1280px;
    /* border: 2px solid red; */
}

/*========== 상단 핫픽스 로고 ==========*/
.loginLogo {
    height: 10vh;
    margin-top: 8vh;
    /* border: 2px solid blue; */
}
.loginLogo>img {
    height: 10vh;
    /* border: 1px solid green; */
}
.login_header {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid rgb(191, 104, 47); */
}

/*========== 회원 아닐 경우 회원가입하기 연결 ==========*/
.login_Join {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid violet; */
}
.login_Join>a {
    color: rgb(234, 126, 18);
}

/*========== 로그인 영역 ==========*/
#login_Form, #SNSlogin_Form {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid blue; */
}

.login_id {
    width: 33%;
    justify-content: center;
    /* border: 2px solid crimson; */
}
.login_pw {
    width: 33%;
    margin-top: 2vh;
    justify-content: center;
    /* border: 2px solid crimson; */
}
.login_id input, .login_pw input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    margin-top: 10px;
    padding: 0px 20px;
    border: 1px solid rgb(175, 175, 175);
    outline: none;
    font-size: 20px;
}
.id_alert, .pw_alert {
    width: 100%;
    height: 20px;
    /* border: 1px solid green; */
}

/*========== 계정찾기 영역 ==========*/
.login_Forgot {
    width: 33%;
    margin-top: 2vh;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    /* border: 2px solid rgb(48, 26, 240); */
}
.login_Forgot > label {
    color: rgb(234, 126, 18);
}

.login_Forgot>a {
    text-decoration: none;
    color: rgb(234, 126, 18);
}
/*========== 로그인 제출 영역 ==========*/
.login_Btn {
    width: 33%;
    height: 6vh;
    display: flex;
    margin-top: 2vh;
    /* border: 2px solid orangered; */
}
.login_Btn input {
    width: 100%;
    height: 50px;
    border: 0;
    outline: none;
    border-radius: 5px;
    background: linear-gradient(to left, rgb(255, 77, 46), rgb(255, 155, 47));
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    cursor: pointer;
}

/*========== sns 계정 로그인 영역 ==========*/
.sns_header{
    width: 33%;
    /*  */
    margin-top: 3vh;
    /* border: 2px solid black; */
}
.login_sns {
    width: 30%;
    height: 12vh;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    /* border: 2px solid rgb(13, 184, 56); */
}
.login_sns>li {
    list-style: none;
}
.login_sns>li>a>img{
    width: 60px;
    height: 60px;
}
