*{
    box-sizing: border-box;
    margin: 0px;
}

:root{
    --main-black-color: rgb(29,32,34); /* 메인 블랙칼라 */
    --main-white-color:rgb(247,247,247);  /* 메인 화이트칼라 */
    --main-red-color: rgb(238,43,42);  /* 메인 레드 칼라 */
    --main-text-color: rgb(247,247,247);

    --ex-border-color: crimson;  /* 보드 테스트 레드 칼라 */
    --new-border-orange: solid 1px rgb(235, 117, 48);

    --border-btn-radius: 10px;
    --btn-color: rgba(255, 95, 47, 0.906);
    
    
    /* 10-04 김양희 팀모달 css 추가*/
    --modal-bg-color: rgba(0, 0, 0, 0.4);
    --border-color: #e5e4e9;
    --dark-border-color:#ccc;

    --basic-white-color:white;
    --basic-gainsboro-color:gainsboro;
    --basic-gray-color:gray;
    --basic-black-color:#333;
    
    --hover-btn-color:#e4e6f5;
    --basic-border-radius:5px;
    --main-border: 1px solid gainsboro;
    
    --btn-color: rgba(255, 95, 47, 0.906);
}

/* ================================================ */


/* 왼쪽 사이드 */
.sideLeft{
    background-color: white;
    /* border: solid 2px var(--ex-border-color); */
    /* height: 150vh; */
    height: 100%;
    width: 15%;
    
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 3px 0px;

    margin-right: 10px;
}

/* 메인섹션 */
.main{
    border: solid 2px #ccc;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 3px 0px;
    border-radius: 10px;
}

.a_btn{
    text-decoration-line: none;
    color: var(--main-black-color);
}

/* ============================= */
/* 내 프로필 및 마이페이지 내역  */
.mySection{
    width: 100%;
    height: 150vh; 
    border: solid 3px var(--ex-border-color);

    display: flex;
    
}

/*! 사이드바 */

/*! 사이드바 */

/* 사이드바 리스트 */
.myList{
    width: 100%;
    height: 100%;
    border: solid 2px #ccc;
    border-radius: 10px;
}



.myList>ul{
    margin: 0; padding: 0;
}
.myList>ul>li{
    width: 100%;
    height: 10vh;
    /* border: solid 3px var(--ex-border-color); */

    list-style-type: none;
    text-align: center;
    font-size: 15px;

}
/* 프로필 이미지 부분 사이즈 조정 */
.myList>ul>li:nth-child(1){
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
    /* flex-wrap: nowrap; */
}


/* 사이드바 이미지와 텍스트의 간격 */
.myList>ul>li:nth-child(2){
    margin-bottom: 50px;
}

/* 사이드바 이미지의 사이즈 */
.myList>ul>li:nth-child(1)>div{
   width: 150px;
   height: 150px;
   border-radius: 100%;
}
/* 사이드바 이미지의 사이즈 */
.myList>ul>li:nth-child(1)>div>img{
   width: 100%;
   height: 100%;
   border-radius: 100%;
}
/* 사이드바 이미지와 텍스트의 간격 */
.myList>ul>li:nth-child(2){
    margin-bottom: 50px;
}



.myli>a{
    color: black;
    text-decoration-line: none;
}
/* 이미지 */
.userImg{
    width: 150px;
    height: 150px;
    /* border: var(--new-border-orange); */
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 3px 0px;

    display: flex;
    
}

.userImg>img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: solid 1px #ccc;
}

/* 글자 간격 */
.mypage_title{
    margin: 15px 0;
}
/* ================================= */
.myPage{
    width: 100%;

    height: 100%;
    /* border: solid 3px blue; */
    padding: 5% 10%;
    flex-wrap: wrap;
}

.myPage_titleText{
    font-size: 30px;
}

/* ================================= */
/* 자기소개 */
.introduce{
    width: 100%;
    height: 40%;
    /* border: var(--new-border-orange); */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 3px 0px;
    display: flex;
}

/* 소개텍스트 */
.introduce>div:nth-child(2){
    width: 70%;
    height: 100%;
    margin-left: 2%;
    /* border: solid 2px brown; */
}

.introduce>div:nth-child(2)>.introduce_nickname{
    width: 100%;
    height: 30%;
    display: flex;
    margin-top: 1%;
}

.introduce_nickname>.name{
    width: 40%;
    height: 100%;
    border: solid 1px #ccc;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 3px 0px;
    text-align: center;
}
.introduce_nickname>.follow{
    width: 60%;
    height: 100%;
    border: solid 1px #ccc;
    border-radius: var(--border-btn-radius);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 3px 0px;
}

.introduce>div:nth-child(2)>.introduce_text{
    width: 100%;
    height: 100px;
    margin-top: 2%;
    border: solid 1px #ccc;
    border-radius: var(--border-btn-radius);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 3px 0px;
}

/* 컨택트 */
.contact{
    width: 100%;
    height: 7%;
    border: solid 1px #ccc;
    background-color: white;
    border-radius: var(--border-btn-radius);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 3px 0px;
    text-align: center; 

    padding: 10px;
    display: flex;
    
}
.contact>div> ul{
    list-style-type: none;

    display: flex;
    justify-content: center;
    align-items: center;
}
.contact>div>ul>button{
    /*border: solid 1px #ccc;*/
    background: rgba(248, 58, 37, .9);

    width: 100px;     
    height: 50px;
    border-radius: var(--border-btn-radius);
    border: none;
    outline: none;

    margin: 0 30px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contact>div>ul>button:hover {
    background-color: rgba(239, 73, 54, .9);
}
.contact>div>ul>button>a>i {
    color: rgba(255, 255, 255, 1);
}


.contact>div:nth-child(1){
    /* border: solid 2px red; */
    width: 90%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contact>div:nth-child(2){
    /* border: solid 2px red; */
    width: 10%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* =============================== */
/* 나의 커미션 */
.comition_1{
    width: 100%;
    height: 7%;
    border: solid 1px #ccc;
    border-radius: var(--border-btn-radius);
    /* text-align: center;  */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 3px 0px;

    padding: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.comition_1>div:nth-child(1){
    /* border: solid 2px red; */
    width: 90%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.comition_1>div:nth-child(2){
    /* border: solid 2px red; */
    width: 10%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* =============================== */

/* 나의 해결률 */
.myHistory{
    width: 100%;
    height: 10%;
    border: solid 1px #ccc;
    border-radius: var(--border-btn-radius);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 3px 0px;
    text-align: center; 

    padding: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.myHistory>div:nth-child(1){
    /* border: solid 2px red; */
    width: 90%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.myHistory>div:nth-child(2){
    /* border: solid 2px red; */
    width: 10%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* =============================== */
/* 나의 팀 */
.myTeam{
    width: 100%;
    height: 7%;
    border: solid 1px #ccc;
    border-radius: var(--border-btn-radius);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 3px 0px;
    text-align: center; 

    padding: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.myTeam>div:nth-child(1){
    /* border: solid 2px red; */
    width: 80%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.myTeam>div:nth-child(2){
    /* border: solid 2px red; */
    width: 20%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* =============================== */
/* 나의 점수 */
.myScore{
    width: 100%;
    height: 7%;
    border: solid 1px #ccc;
    border-radius: var(--border-btn-radius);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 3px 0px;
    text-align: center; 

    padding: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.myScore>div:nth-child(1){
    /* border: solid 2px red; */
    width: 90%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.myScore>div:nth-child(2){
    /* border: solid 2px red; */
    width: 10%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* =============================== */
/* 나의 언어 */
.myLanguage{
    width: 100%;
    height: 7%;
    border: solid 1px #ccc;
    background-color: white;
    border-radius: var(--border-btn-radius);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 3px 0px;

    text-align: center; 

    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.myLanguage>ul{
    list-style-type: none;

    display: flex;
    justify-content: center;
    align-items: center;
}
.myLanguage>ul>li{
    border: var(--new-border-orange);
    background: var(--btn-color);

    width: 100px;     
    height: 50px;
    border-radius: var(--border-btn-radius);

    margin: 0 30px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* ================================= */

/* 10-04 김양희 팀정보 모달 추가 */

/* ==========================팀정보 모달================================ */
.modal-div{
    background-color: var(--modal-bg-color);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;


    display: none;
}
#xicon{
    font-size: 1.5rem;
    border-radius: var(--basic-border-radius);
    box-shadow: 1px 1px 3px 1px var(--basic-gray-color);
    background-color: var(--basic-white-color);
    position: relative;
    top: -46%;
    left: 1%;
    cursor: pointer;

    display: none;
	
	
	animation-name: opacity;
    animation-duration: 2s;

}
#teammodal-div{
    width: 60%;
    height: 95%;
    background-color: var(--basic-white-color);

	animation-name: opacity;
    animation-duration: 2s;
    

	overflow-y: auto;
}
#team-navbar{
    padding: 20px;
    border-bottom: 1px solid var(--border-color);
    display: flex;
}
#teamname{
    text-decoration: none;
    color: var(--basic-black-color);
    font-weight: 700;
    letter-spacing: 1.2px;
    /* border: 1px solid red; */
    width: 30%;
    text-align: center;
    padding: 5px 10px;
}
#team-category{
    /* border: 1px solid red; */
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.teamjoin-btn, .teamsecession-btn{
    color: var(--basic-black-color);
    letter-spacing: 1.2px;
    background-color: var(--basic-gainsboro-color);
    padding: 5px 10px;
    border-radius: var(--basic-border-radius);
    border: none;
}
.teaminfo-btn{
    color: var(--basic-black-color);
    letter-spacing: 1.2px;
   	background-color: var(--hover-btn-color);
    padding: 5px 10px;
    border-radius: var(--basic-border-radius);
    border: none;
}
#team-category button a{
    color: var(--basic-black-color);
    text-decoration: none;
}
#team-category button:hover{
    background-color: var(--hover-btn-color);
}
#team-content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
/* 공지사항 */
.content-team-date{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 3px 0px;
    width: 95%;
    height: 30%;
    margin-top: 5%;
}

/* 팀정보 */
.content-team-profile{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 3px 0px;
    border-radius: var(--basic-border-radius);
    width: 95%;
    height: 30%;
    margin-top: 5%;
}
.content-team-profile div{
    border-bottom: 1px solid var(--dark-border-color);
    width: 100%;
    height: 33.3%;
    display: flex;
    align-items: center;
}
/* 팀원정보 */
.content-team-member{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 3px 0px;
    border-radius: var(--basic-border-radius);
    width: 95%;
    height: 60%;
    margin-top: 5%;
}
.content-team-member table{
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}
.content-team-member td{
    border: 1px solid var(--dark-border-color);
}

/* 링크 아이콘 */
.teamicons{
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 20px;
    width: 100%;
}
/* 링크 */
.linkcopy{
    cursor: pointer;
    border: none;
    position: relative;
}
.linkcopy ion-icon{
    font-size: 1.8rem;
}



/* =========================팀탈퇴 모달=============================== */
.modal4-div{
    background-color: var(--modal-bg-color);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;


    display: none;
}

#xicon4{
    font-size: 1.5rem;
    border-radius: var(--basic-border-radius);
    box-shadow: 1px 1px 3px 1px var(--basic-gray-color);
    background-color: var(--basic-white-color);
    position: relative;
    top: -11.5%;
    left: 1%;
    cursor: pointer;

    display: none;

    animation-name: opacity;
    animation-duration: 1s;
}
.teammodal4-div{
    width: 450px;
    height: 250px;
    background-color: var(--basic-white-color);
    border: 1px solid var(--border-color);
    padding: 30px;

    animation-name: opacity;
    animation-duration: 1s;
}
.toptitle3{
    display: flex;
    align-items: center;
    justify-content: center;
}
.toptitle3 p{
    font-weight: bold;
    font-size: 1.2rem;
}
.teamsecssioncheck{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    margin-top: 30px;
}
.teamsecssioncheck p{
    font-size: 1.1rem;
}
.secssion-btn button{
    width: 100%;
    background: linear-gradient(to left, rgb(255, 77, 46), rgb(255, 155, 47));
    color: whitesmoke;
    border: none;
    padding: 15px 0;
    cursor: pointer;

}


@keyframes opacity {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes popup {
    0%{
        transform: scale(1.0);
    }
	50%{
		transform: scale(1.1);
	}
    100%{
        transform: scale(1.0);
    }
}
.teamnotmemberform{
	display:flex;
	flex-direction:row;
}
.teamnotmember_delete{
	border:none;
	border-radius:5px;
	color: white;
	background-color: var(--btn-color);
	margin: 0 10px;
	cursor:pointer;
}
/*10-05 추가 */
.teaminfo_modal span{
	cursor:pointer;
}