*{
    box-sizing: border-box;
    margin: 0px;
}

:root{
    --main-black-color: rgb(29,32,34); /* 메인 블랙칼라 */
    --main-white-color:rgb(247,247,247);  /* 메인 화이트칼라 */
    --main-red-color: rgb(238,43,42);  /* 메인 레드 칼라 */
    --main-text-color: rgb(247,247,247);

    --ex-border-color: crimson;  /* 보드 테스트 레드 칼라 */
    --new-border-orange: solid 1px rgb(235, 117, 48);
    
    --border-btn-radius: 5px;
    --btn-color: rgba(255, 95, 47, 0.906);

}


/* ================================================ */


/* 왼쪽 사이드 */
.sideLeft{
    background-color: white;
    /* border: solid 2px var(--ex-border-color); */
    height: 150vh;
    width: 15%;
    
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 3px 0px;

    margin-right: 10px;
}

/* 메인섹션 */
.main{
    border: solid 2px #ccc;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 3px 0px;
    border-radius: 10px;
}



/* ============================= */
/* 내 프로필 및 마이페이지 내역  */
.mySection{
    width: 100%;
    height: 150vh; 
    border: solid 3px var(--ex-border-color);

    display: flex;
    
}

/*! 사이드바 */

/* 사이드바 리스트 */
.myList{
    width: 100%;
    height: 100%;
    border: solid 2px #ccc;
    border-radius: 10px;
}



.myList>ul{
    margin: 0; padding: 0;
}
.myList>ul>li{
    width: 100%;
    height: 10vh;
    /* border: solid 3px var(--ex-border-color); */

    list-style-type: none;
    text-align: center;
    font-size: 15px;

}
/* 프로필 이미지 부분 사이즈 조정 */
.myList>ul>li:nth-child(1){
    height: 30vh;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: nowrap;
}
/* 사이드바 이미지와 텍스트의 간격 */
.myList>ul>li:nth-child(2){
    margin-bottom: 50px;
}

/* 사이드바 이미지의 사이즈 */
.myList>ul>li:nth-child(1)>div{
   width: 200px;
   height: 200px;

   background-image: url(/resource/img/pepe.png);
   border-radius: 50%;
}

.myli>a{
    color: black;
    text-decoration-line: none;
}


/* 글자 간격 */
.mypage_title{
    margin: 15px 0;
}
/* ================================= */
.myPage{
    width: 100%;
    height: 150vh;
    /* border: solid 3px blue; */

    padding: 0% 10%;

    /* display: flex; */
    flex-wrap: wrap;
}
/* ================================= */
.dpContainer {
    width: 90%;
    margin: 0 auto;
}
.dpSubBox {
    height: 150px;
    display: flex;
    justify-content: space-around;
}
.dpGetPoint {
    border-right: 1px solid #aaa;
    height: 100px;
    margin-top: 30px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dpGetPoint > span {
    font-size: 30px;
    font-weight: bolder;
    color: black;
}
.dpGetPoint:nth-child(3) {
    border-right: none;
}
.dpGetPoint button {
    padding: 5px 15px;
    color: white;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
}
/* 내역 조회 */
.dpListDate {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 10px;
}
.dpListDate span {
    font-weight: bolder;
    margin-right: 5px;
    border-bottom: 1px solid #bbb;
}
.dpListDate > input {
    padding: 1px 15px;
    margin: 0 5px;
}
.dpListDate > select {
    margin: 0 20px;
    padding: 3px 25px;
}
.dpListDate button {
    padding: 0 20px;
    background: var(--btn-color);
    border: none;
    border-radius: var(--border-btn-radius);
    color: white;
}
/* 내역 리스트 목록 */
.dpListTitle {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.dpList {
    height: 150px;
    display: flex;
}
.dpListLeft {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dpListCir {
    border: 1px solid red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    color: red;
}
.dpListMid {
    width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 40px;
}
.dpListMid > span:nth-child(1) {
    opacity: 0.5;
}
.dpListMid > span:nth-child(3) {
    opacity: 0.5;
    margin-top: 10px;
    font-size: 13px;
}
.dpListRight{
    width: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    padding-right: 30px;
}
.dpListRight > button{
    margin-top: 5px;
    opacity: 0.6;
    width: 60px;
    height: 20px;
    font-size: 10px;
}
/* 적립 */
.save > .dpListLeft .dpListCir {
    border: 1px solid blue;
    color: blue;
}
.charge > .dpListLeft .dpListCir {
    border: 1px solid green;
    color: green;
}
.get > .dpListLeft .dpListCir {
    border: 1px solid violet;
    color: violet;
}
