:root{
    --teamlist-border: 1px solid gainsboro;
    --ranking-border: 1px solid gainsboro;
    --border-btn-radius: 5px;
    --btn-color: rgba(255, 95, 47, 0.906);

    --border-radius:10px;
    --box-shadow:rgba(0, 0, 0, 0.24) 0px 0px 3px 0px;

    --thead-color:gainsboro;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.rankingcontanier{
    width: 100%;
    height: 100%;
}

/* 게시판 타이틀 */
.ranking_title {
    width: 100%;
    height: 6%;
    text-align: center;
    line-height: 100px;
}
.ranking_title > h1 {
 font-size: 35px;
}
/* 게시판 목록  */
.ranking_category {
    font-size: 20px;
    margin-bottom: 20px;
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ranking_category > ul > li {
    display: inline;
    list-style: none;
    margin: 30px;
}
.ranking_category > ul > li a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.ranking_category > ul > li a:hover{
    color: tomato;
    cursor: pointer;

    transition: all .5s;
}


/* 순위테이블 */
.rankingtopdiv{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}


/*이미지*/
.teamlogofile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.rank_teamlogo_image{
    box-shadow: 1px 1px 5px 1px gainsboro;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 10px;
}
.rank_content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.rank_content .rank_title{
    font-weight: bold;
}
/* 금메달 */
.rankingtop{
    margin: 0 1%;
    padding-bottom: 10px;
    width: 25%;
    border: 2px solid rgb(255, 219, 17);
    box-shadow: 1px 1px 5px 1px gainsboro;
    border-radius: var(--border-radius);
}
#medalgold{
    position: relative;
    left: 5%;
    font-size: 2rem;
    color: rgb(255, 208, 0);
}
.rankingtop p{
    text-align: center;
}
.rankingtop p span{
    font-size: 1.5rem;
}

/* 은메달 */
.rankingtop-gray{
    margin: 0 1%;
    padding-bottom: 10px;
    width: 25%;
    border: 2px solid rgb(163, 163, 163);
    box-shadow: 1px 1px 5px 1px gainsboro;
    border-radius: var(--border-radius);
}
#medalgray{
    position: relative;
    left: 5%;
    font-size: 2rem;
    color: rgb(163, 163, 163);
}
.rankingtop-gray p{
    text-align: center;
}
.rankingtop-gray p span{
    font-size: 1.5rem;
}

/*동메달*/
.rankingtop-dong{
    margin: 0 1%;
    padding-bottom: 10px;
    width: 25%;
    border: 2px solid rgb(197, 152, 5);
    box-shadow: 1px 1px 5px 1px gainsboro;
    border-radius: var(--border-radius);
}
#medaldong{
    position: relative;
    left: 5%;
    font-size: 2rem;
    color:  rgb(197, 152, 5);
}
.rankingtop-dong p{
    text-align: center;
}
.rankingtop-dong p span{
    font-size: 1.5rem;
}


/* 4위부터~ */
.rankingdiv{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    box-shadow: var(--box-shadow);
}
.rankingdiv table{
    border-collapse: collapse;
    width: 100%;
}
.rankingdiv table thead{
    background-color: var(--thead-color);
    height: 10vh;
}
.rankingdiv table tbody{
 	height: 10vh;
}
.rankingdiv table td{
    border:var(--ranking-border);
    
}
/* a태그 꾸미기 */
.ranking_teaminfo{
	cursor:pointer;
	text-decoration: underline;
	color:black;
}
.ranking_teaminfo:hover{
	color: blue;
}