/* 전체컨테이너 */
.boardWF_container {
    width: 80%;
    height: 800px;
    margin: 0 auto;
}
/* 타이틀 제목 */
.boardWF_title {
    margin: 30px 0;
}
.boardWF_title > h1 {
    margin-bottom: 8px;
}
/* 토픽 박스 */
.WF_topic_box {
    width: 100%;
    margin-bottom: 20px;
}
.WF_topic_box > select{
    margin: 10px 0;
    width: 100%;
    padding: 10px 5px;
    border: 1px solid #aaa;
    border-radius: 5px;
}
/* 제목 박스 */
.WF_input_box > input {
    width: 100%;
    padding: 18px 5px;
    margin: 5px 0;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-bottom: 20px;
    
}
.WF_detail_box {
    margin-top: 10px;
}
.WF_detail_box > textarea {
    margin: 10px;
    font-size: 15px;
}
.boardWF_btn {
    display: flex;
    justify-content: right;
}
.boardWF_btn >button {
    padding: 5px 20px;
    border: 1px solid #aaa;
    margin: 0 5px;
}
.boardWF_btn > button:last-child {
    background-color: rgb(167, 161, 240);
    color: white;
}