:root{
    --main-black-color: rgb(29,32,34); /* 筌롫뗄�뵥 �뇡遺얠삌燁살눖�뵬 */
    --main-text-color: rgb(247,247,247);

    --teamlist-border: 1px solid gainsboro;
    --btn-hover-gray-color:rgb(190, 189, 189);

    --border-btn-radius: 5px;
    --btn-color: rgba(255, 95, 47, 0.906);

}
/* a占쎄묶域뱄옙 疫꿸퀡�궚 占쎄퐬占쎌젟 */
.main a{
    text-decoration: none;
    color: var(--main-black-color);
}
/* 占쎌젫筌륅옙 */
.RmHeader{
    text-align: center;
    line-height: 100px;
    height: 100px;
}
.RmHeader > h1 {
    font-size: 30px;
    font-weight: bolder;
}
/* 野껓옙占쎄퉳疫꿸퀡�뮟 占쏙옙 */
.teamlistsearch{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: flex-end;
    margin-bottom: 25px;
}
.search{
    width: 100%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center; 
}
/* 野껓옙占쎄퉳筌∽옙 */
.search-box{
    width: 90%;
    height: 75%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-left: 70px;
}
.search-box form{
    width: 45%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
}
.search-box input[type="text"]{
    border: var(--teamlist-border);
    border-radius: 50px;
    width: 80%;
    height: 100%;
    padding: 0 20px;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
 }
.search-box form input[type="text"]:focus{
    outline: none;
}
.searchbtn{
    position: relative;
    right: 8%;
    
    border: none;
    background-color: white;
    cursor: pointer;
}

/* 占쏙옙筌띾슢諭얏묾占� 甕곌쑵�뱣 */
.teammakingbtn{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.teammakingbtn button{
    padding: 10px;
    color: white;
    background: var(--btn-color);
    border: none;
    border-radius: var(--border-btn-radius);
    cursor: pointer;
}
/* 占쏙옙筌뤴뫖以� 揶쏉옙占쎌삢 占쎄쿃 占쏙옙 */
.teamlistbox{
    border-top: var(--teamlist-border);
    border-bottom: var(--teamlist-border);
    display: flex;
    width: 100%;
    min-height: 10vh;
}
/* 占쏙옙筌뤴뫖以� 獄쏅벡�뮞 占쎄쿃 占쏙옙 */
.teamlistboxleft{
    width: 72%;
    padding: 2vh 0 0 0;
}
.teamlistboxright{
    width: 20%;
    border-left: var(--teamlist-border);
    /* border: 1px solid black; */
}
/* 占쏙옙 占쎈늄嚥≪뮉釉� 占쎌뵠沃섎챷占� */
.img{
    padding: 2vh 1% 1% 1%;
    width: 8%;
    height: 50%;
}
.img img{
    width: 100%;
    height: 100%;
}
/* 占쏙옙占쎌뵠�뵳占� */
.teamtitle{
    display: inline-block;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 550;
}
.teamtitle:hover{
    color: #0064CD;
}
/* 占쎄땀占쎌뒠 */
.teamdescription{
    font-size: 1rem;
    padding: 2vh 0;
}
/* 占쎄묶域뱄옙 */
.tagbtn{
    background-color: gainsboro;
    border-radius: var(--border-btn-radius);
    border: none;
    padding: 5px 1vh;
}

/* 占쎄텊筌욑옙 */
.teamcreationdate{
    padding: 1vh 0;
}
/* 甕곌쑵�뱣 div */
.btndiv{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}
/* 甕곌쑵�뱣占쎈굶 */
.btn{
    border: none;
    border-radius: var(--border-btn-radius);
    padding: 10px 20px; 
}
/* 筌뤴뫁彛쏉옙�뵥占쎌뜚 */
.join{
    background: var(--btn-color);
    color: var(--main-text-color);
    cursor: pointer;
}
/* 占쎈읂占쎌뵠筌욑옙 */
.teamlistpaging{
    height: 5%;
}

